<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<link href="css/popup.css" rel="stylesheet">
	<script src="libraries/angular.min.js">

	</script>
	<script src="libraries/jquery.js"></script>
	<script src="scripts/app.js"></script>
</head>

<body ng-app="App">
	<div ng-controller="LoginController as Login">
		<div ng-show="!loggedIn" class="header">{{statusMessage}}</div>
		<div class="center">
			<button class="button" ng-click="Login.launch()" ng-show="!loggedIn">Login</button>
		</div>
	</div>{{mainMenu}}
	<div ng-show="mainMenu" ng-controller="MainMenuController as Main" style="padding:10px">
		<div class="navList">
			<span class="nav" ng-class="{loading: tab['active'].loading}" ng-click='currentTab="active"'> <span class="navItem"> Active{{tab['active'].loading ? "":'('+tab['active'].count+')'}} </span> </span>
			<span class="nav" ng-class="{loading: tab['added'].loading}" ng-click='currentTab="added"'> <span class="navItem"> Added{{tab['added'].loading ? "":'('+tab['added'].count+')'}}</span></span>
			<span class="nav" ng-class="{loading: tab['waiting'].loading}" ng-click='currentTab="waiting"'><span class="navItem"> Waiting{{tab['waiting'].loading ? "":'('+tab['waiting'].count+')'}} </span> </span>
			<span class="nav" ng-class="{loading: tab['finished'].loading}" ng-click='currentTab="downloaded"'> <span class="navItem"> Finished{{tab['finished'].loading ? "":'('+tab['finished'].count+')'}} </span> </span>
		</div>
		<div class="tabs" ng-switch="currentTab" ng-init='currentTab="active"'>
			<div ng-switch-when="active" class="tableWrapper">
				<div class="header">Active </div>
				<table>
					<tr>
						<th>Name</th>
						<th>Status</th>
					</tr>
					<tr ng-show="!active.error" ng-repeat="torrent in active">
						<td>{{torrent.name}}</td>
						<td>{{torrent.downloadedPart * 100}}%</td>
					</tr>
					
					<tr ng-show="active.error">
						<td>{{active.error}}</td>
					</tr>
				</table>
			</div>
			<div ng-switch-when="added" class="tableWrapper">
				<div class="header">Waiting to be queued</div>
				<table>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Remove</th>
					</tr>
					<tr ng-repeat="torrent in addedTorrents">
						<td>{{torrent.name}}</td>
						<td>{{torrent.status || "Ready"}}</td>
						<td>
							<button class="button small-button" ng-click="Main.remove($index)">x</button>
						</td>
					</tr>
				</table>
				<button class="button small-button" ng-click="Main.queue()">Queue</button>
			</div>
			<div ng-switch-when="waiting" class="tableWrapper">
				<div class="header">Waiting</div>
				<table>
					<tr>
						<th>Name</th>
					</tr>
					<tr ng-repeat="torrent in waiting">
						<td>{{torrent.name}}</td>
					</tr>
				</table>
			</div>
			<div ng-switch-when="downloaded" class="tableWrapper">
				<div class="header">Downloaded</div>
				<table>
					<tr>
						<th>Name</th>
						<th>Size</th>
						<th>Type</th>
					</tr>
					<tr ng-repeat="torrent in finished">
						<td><a href="" ng-click="Main.openUrl(torrent.link)">{{torrent.name}}</span></td>
							<td>{{torrent.size}}</td>
							<td>{{torrent.type}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	</body>
</html>