<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="css/popup.css" rel="stylesheet">
		<script src="libraries/angular.min.js">
</script>
		<script src="libraries/jquery.js"></script>
		<script src="scripts/app.js"></script>
	</head>
	<body ng-app="App">
		<h4>{{statusMessage}}</h4>
		<div ng-controller="LoginController as Login">
			<button ng-click="Login.launch()" ng-show="!loggedIn">Login</button>
		</div>
		{{mainMenu}}
		<div ng-show="mainMenu" ng-controller="MainMenuController as Main" style="padding:10px">
			<h3>Torrents added</h3>
			<ul>
				<li ng-repeat="torrent in addedTorrents">
					{{torrent.name}} <button ng-click="Main.remove($index)">x</button>
				</li>
			</ul>
			
			<h3>Torrents in progresss</h3>
			<ul>
				<li ng-repeat="torrent in transfers">
					{{torrent.name}}
				</li>
			</ul>
			<div class="row">
				<button ng-click="Main.queue()">Queue</button>
			</div>
		</div>
	</body>
</html>